.App {
  font-family: "FuturaHandwritten";

  background-color: #aeaeae;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background: #f7f7f7;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  text-align: center;
}

input {
  outline: none;
  padding: 10px 20px;
  font-size: 25px;
  border: 2px solid #000;
  border-radius: 4px;
  font-family: "FuturaHandwritten";
}

.textWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  display: none;
}
