img:hover {
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0.2;
}

.svgImg {
  width: 70px;
}

/* small is used for report page */
.small {
  width: 30px;
}
.medium {
  width: 50px;
}

.large {
  width: 350px;
}

.profile {
  width: 150px;
}

.ImgQuestionWrapper {
  display: inline-block;
  margin: 1em;
}

p {
  display: block;
  margin: 0px 10px;
}
.active {
  opacity: 0.2;
}

.inactive {
  opacity: 1;
}

span {
  color: #575757;
  font-size: 14px;
  display: block;
}
