img:hover {
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0.2;
}

.svgImg {
  width: 70px;
}

/* small is used for report page */
.small {
  width: 30px;
}

.medium {
  width: 50px;
}

.large {
  width: 500px;
}

.profile {
  width: 150px;
}

.ImgQuestionWrapper {
  display: inline-block;
  margin: 0.5em;
}

.ImgQuestionWrapper:hover {
  cursor: pointer;
}

.ImgQuestionWrapper span {
  display: block;
}

.active {
  opacity: 0.2;
}

.inactive {
  opacity: 1;
}
