.progressBar {
  /* background-color: #333; */
  /* width: 80vw; */
  margin-top: 2em;
  height: 50px;
  /* position: fixed; */
  /* bottom: 0; */
  /* left: -5vw; */
}

.progressBar p {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
