.active {
  fill: #929090;
}
.inactive {
  fill: #717171;
}

.progressBtnName-span {
  display: none;
}
.progressBtnName-container {
  display: inline-block;
  margin-right: 0.2em;
}

.progressBtnName-container:hover {
  cursor: pointer;
}
