/* .report {
  background-image: url("http://localhost:3000/assets/report/certificate150.png");
  background-repeat: repeat-x;
} */

/* #report {
  margin-top: 5vh;
  width: 80vw;
  background-image: url("http://localhost:3000/assets/report/certificate.svg");
  background-repeat: no-repeat;
  background-size: auto 100% contain;
}

.report-textWrapper {
  padding: 12vh 10vw;
  margin: 0 auto;
  overflow-y: auto;
}

.report p {
  text-align: left;
  font-size: 1em;
  margin: 0px;
  line-height: 2.1em;
}

.report span {
  display: inline;
  color: #4d90fe;
  font-size: 1em;
}

.report .ImgQuestionWrapper {
  margin: 0px;
}
.report img.svgImg {
  vertical-align: middle;
}

.ninja-profile {
  display: block;
  float: right;
  margin: 1em;
}

span.strike-through {
  text-decoration: line-through;
  color: black;
}

.report img:hover {
  cursor: default;
  opacity: 1;
}

span.report-page-btn {
  font-size: 0.8em;
}

.report-page-top-btn-container {
  margin-top: 5vh;
}
.report-page-top-btn-container .ImgQuestionWrapper {
  margin-right: 50px;
} */

/* reorganized styling */

.report-page-top-btn-container.display {
  margin-top: 5vh;
}

.report-page-top-btn-container.hidden {
  display: none;
}
