.report {
  margin-top: 5vh;
}

.report-textWrapper {
  padding: 0vh 5vw;
  margin: 0 auto;
  overflow-y: auto;
}

#report2 {
  padding: 0;
}

.report p {
  text-align: left;
  font-size: 1em;
  margin: 0px;
  line-height: 2.1em;
}

.report span {
  display: inline;
  color: #4d90fe;
  font-size: 1em;
}

.report .ImgQuestionWrapper {
  margin: 0px;
}

.report img.svgImg {
  vertical-align: middle;
}

.ninja-profile {
  display: block;
  float: right;
  margin: 1em;
}

span.strike-through {
  text-decoration: line-through;
  color: black;
}

.report img:hover {
  cursor: default;
  opacity: 1;
}

.report img.NextBtn:hover {
  cursor: pointer;
  opacity: 0.5;
}
.report img.BackBtn:hover {
  cursor: pointer;
  opacity: 0.5;
}

span.report-page-btn {
  font-size: 0.8em;
}
