.iconWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}
.weaponCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em;
  margin-left: 1em;
}
.iconWrapper p {
  font-size: 12px;
}
